flask
flask-cors
langchain-community
langchain
transformers
faiss-cpu
sentence-transformers
langchain-huggingface 
textblob
language-tool-python
torch 
pypdf
openai
langchain-openai
markdown
langgraph